.pull-left {
     float: left; 
    /* width: 175px;  */
     /* height: 100px;  */
}

.foot-logo {
    float: right;  
     width: 166px !important; 
      height: 108px !important; 
    
}
.logo {
     width: 166px !important; 
     height: 108px !important; 
     margin: 0 !important; 
    padding: 0 !important; 
    align-items: center !important;
}
@media (max-width: 576px) {
    .logo {
        width: 166px !important; 
        height: 108px !important; 
    }
}