nav .tb-menu,
nav .tb-menu ul {
    margin: 0;
    padding: 0;
    list-style: none
}

nav .tb-menu:before,
nav .tb-menu:after {
    content: "";
    display: table
}

nav .tb-menu:after {
    clear: both
}

nav .tb-menu {
    zoom: 1
}

nav .tb-menu li {
    float: left;
    position: relative
}

nav .tb-menu a {
    float: left;
    padding: 12px 20px;
    text-decoration: none
}

nav .tb-menu li:hover>a {}

nav .tb-menu ul {
    margin: 20px 0 0 0;
    _margin: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 1
}

nav .tb-menu li:hover>ul {
    opacity: 1;
    visibility: visible;
    margin: 0
}

nav .tb-menu ul ul {
    top: 0;
    left: 250px;
    margin: 0 0 0 20px;
    _margin: 0
}

nav .tb-menu .nav-shift ul {
    left: -250px;
    top: 0px
}

nav .tb-menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0
}

nav .tb-menu ul li:last-child {
    box-shadow: none
}

nav .tb-menu ul a {
    padding: 5px 15px;
    width: 250px;
    _height: 10px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none
}

nav .tb-menu ul li:first-child>a {}

nav .tb-menu ul li:first-child>a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px
}

nav .tb-menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0
}

nav .tb-menu ul li:first-child a:hover:after {}

nav .tb-menu ul ul li:first-child a:hover:after {}

nav .tb-menu ul li:last-child>a {}